.names {
	width: fit-content;
	margin: 0 auto;
}

.name {
	font-family: helvetica;
	font-size: 200px;
	text-align: center;
}

@keyframes Rotate {
	from {
		transform: rotate(0deg)
	}
 	
 	to {
 		transform: rotate(360deg)
 	}
}

.name:hover { 
	position: relative;
	animation: Rotate 1s linear infinite;
}

#matthew {
	color: palevioletred;
}

#anna {
	color: mediumpurple;
}

#zach {
	color: deepskyblue;
}
