body {
	display: grid;
	margin: auto;
	max-width: 1000px;
	height: 800px;
	background-image: url('background.png');
}

.main {
	background-image: url('main.png');
	border: 4px solid white;
}

p {
	position: relative; top: -3px; left: -3px;
	font-family: Helvetica, Sans-serif;
	font-size: 90px;
	font-weight: 600;
	line-height: 0.8em;
	text-align: center;
	color: #FFF;
}

.main, p {
	margin: 28px;
}

.header {
	text-shadow: 1px 1px #ee5687, 2px 2px #ee5687, 3px 3px #ee5687, 4px 4px #ee5687, 
    5px 5px #ee5687, 6px 6px #ee5687, 7px 7px #ee5687, 8px 8px #ee5687, 9px 9px #ee5687, 
    10px 10px #ee5687, 11px 11px #ee5687;
}

.subtext {
	font-size: 75px;
	text-shadow: 1px 1px #27c1e8, 2px 2px #27c1e8, 3px 3px #27c1e8, 4px 4px #27c1e8, 
    5px 5px #27c1e8, 6px 6px #27c1e8, 7px 7px #27c1e8, 8px 8px #27c1e8, 9px 9px #27c1e8, 
    10px 10px #27c1e8, 11px 11px #27c1e8;
}

@media (max-width: 700px) {
	body {
		height: 400px;
	}

	p {
		font-size: 50px;
	}

	.subtext {
		font-size: 35px;
	}
}