body {
	background: red;
}

.welcome {
	color: #FFCC00;
	font-size: 100px;
	font-family: impact;
	-webkit-text-stroke: 5px #3c5aa6;
}

.carousel {
	position: relative;
    height: 600px;
    margin-bottom: 30px;
    display: flex;
    width: 6000px;
}

.carousel img {
	border: 2px solid white;
	transition: all 0.5s ease;
}

.first {
	animation: bannermove 10s linear infinite;
}

.carousel .first {
	margin-left: -3195px;
}

.carousel img {
  margin: 0px 25px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

@keyframes bannermove {
   0% {margin-left: 0;}
  100% {margin-left: -3195px;}
}