body {
    display: flex;
	background: gold;
    font-size: 64px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

img {
    display: block;
    margin: 50px;
}

.spinner {
    background-color: dodgerblue;
    border-radius: 10px;
    animation: spin 2s infinite linear;
}

/* Define the keyframes for the animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}